<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="c_navbar.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Acornify</title>
</head>
<body>

    <c-navbar></c-navbar>

    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Tiendas</h1>
            </div>
        </div>
    </header>
    
    <nabin-bombin></nabin-bombin>

    <i class="bi bi-search"></i>
    <i class="bi bi-search"></i>
    <i class="bi bi-search"></i>
    <div class="card mb-4">
        <div class="card-body">
            <div class="input-group plf10">
                <input class="form-control" type="text" placeholder="Buscar tiendas" aria-label="Enter search term..." aria-describedby="button-search">
                <button type="button" class="btn btn-primary"> <i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
    </div>

    <section class="py-5">
        <% results.forEach((tienda) => { %>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Imagen de tienda -->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="...">
                        <!-- Detalles de tienda-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder"><%= tienda.nombre_tienda %></h5>
                                <!-- Product price-->
                                <!-- categoria? (si no se pone nada, borrar) -->
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Recompensas</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>

                

                
    </section>

    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright © Your Website 2023</p></div>
    </footer>

    <script src="https://kit.fontawesome.com/ca048bf1d7.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>